body {
    color:white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    width:100%;
}

.main {
    text-align: center;
}

#title {
    font-size: 4em;
}

h3 {
    text-align: left;
}

iframe {
    width: 66%;
    height:auto;
}

img {
    max-width: 100%;
    height:auto;
}

pre {
    background-color: black;
    color:white;
    text-align: left;
}

li {
    text-align: left;
}